.containerYoutube {
    margin-top: 40px;
}

.title {
  font-size: 20px;
  text-align: center;
  animation: appearRight 1.4s ease;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  animation: appearDown 2.4s ease;
}

@media screen and (min-width: 768px) {
  .list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 16px;
  }

  .title {
    font-size: 24px;
  }
}

@keyframes appearRight {
  0% {
      opacity: 0;
      transform: translateX(-200px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
  
}

@keyframes appearDown {
  0% {
      opacity: 0;
      transform: translateY(200px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
  
}
