.container {
  background-color: var(--dark-blue);
  padding: 20px 0;
  margin-top: 20px;
}

.content {
  width: 90%;
  max-width: 375px;
  margin: 0 auto;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.7rem 0 0.5rem 0;
  animation: appearRight 1s ease;
}

.iconYoutube {
  width: 34px;
  height: 34px;
}

.link {
  max-height: 34px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
}

.showMoreBtn {
  color: var(--white-color);
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: var(--accent-color);
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  font-weight: 600;
  animation: appearDown 1.4s ease;
}

.showMoreBtn:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.youtubeBox {
  display: flex;
  align-items: center;
  column-gap: 8px;
  color: rgb(161, 40, 40);
  font-size: 10px;
  font-weight: 600;
  animation: appearDown 1.4s ease;
}

.text {
  text-align: justify;
  animation: appearRight 1.8s ease;
}

@media screen and (min-width: 768px){
  .content {
    max-width: 768px;
  }

  .title {
    font-size: 2rem;
  }

  .iconYoutube {
    width: 42px;
    height: 42px;
  }
  
  .link {
    max-height: 42px;
  }

  .text {
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px){
  .content {
    max-width: 410px;
  }

  .title {
    margin: 1.1rem 0 0.5rem 0;
  }
}

@keyframes appearRight {
  0% {
      opacity: 0;
      transform: translateX(200px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes appearDown {
  0% {
      opacity: 0;
      transform: translateY(200px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}