.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--white-social);
  letter-spacing: 0.04em;
}

.socialList {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 10px;
  justify-content: center;
}

.socialContainer {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--white-social);
}

.socialContainer a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--hover-effect);
}

.social {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 1.4rem;
  }

  .socialList, .container {
    max-width: 300px;
  }

  .socialContainer {
    width: 40px;
    height: 40px;
    transition: var(--hover-effect);
  }

  .socialList {
    column-gap: 24px;
  }

  .social {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .socialContainer:hover {
    box-shadow: 10px 10px 30px var(--accent-color), -10px -10px 30px var(--accent-color);
  }
}
