.container {
  margin: 40px 0;
}

.title {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}

.icon {
  width: 32px;
  height: 32px;
  fill: var(--accent-color);
  transition: var(--hover-effect);
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
}

.listItem {
  width: 100%;
}

.listItem:not(:first-of-type) {
  margin-top: 20px;
}

.link {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 30px;
  border: 1px solid var(--accent-color);
}

.photoWeb {
  object-fit: cover;
  width: 100%;
  height: 250px;
  filter: brightness(0.7);
  transform: scale(1);
  transition: var(--hover-effect);
}

.photoWeb:hover {
  filter: brightness(1);
  transform: scale(1.05);
}

.linkToWeb {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8px;
  margin-top: 12px;
  color: var(--accent-color);
  text-decoration: underline;
}

.overlay {
    margin-top: 8px;
}

.overlay p {
  text-align: justify;
}

@media screen and (min-width: 768px) {
  .list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
  }

  .listItem {
    width: 350px;
  }

  .listItem:not(:first-of-type) {
    margin-top: 0;
  }

  .overlay {
    height: 164px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .linkToWeb {
    margin-top: 0;
    font-size: 20px;
    transition: var(--hover-effect);
  }
}

@media screen and (min-width: 1200px) {
  .link:hover {
    -webkit-box-shadow: 0px 6px 8px -1px rgb(41, 132, 145);
    -moz-box-shadow: 0px 6px 8px -1px rgb(41, 132, 145);
    box-shadow: 0px 6px 8px -1px rgb(41, 132, 145);
  }

  .link:hover .photoWeb {
    filter: brightness(1);
    transform: scale(1.05);
  }

  .list {
    gap: 40px;
  }

  .linkToWeb:hover {
    color: var(--white-color);
  }

  .linkToWeb:hover .icon {
    fill: var(--white-color);
  }
}
