.loaderContainer {
    display: flex;
    align-items: center;
    max-width: 210px;
    overflow: hidden;
    margin: 0 auto;
    padding-left: 16px;
}

@media screen and (min-width: 375px) {
    .loaderContainer {
        max-width: 256px;
    }
}

@media screen and (min-width: 768px) {
    .loaderContainer {
        max-width: 570px;
        padding-left: 26px;
    }
}