.header {
  max-width: 100%;
  background-color: var(--primary-dark);
}

.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .container {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    column-gap: 20%;
  }
}
