.overlay {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  justify-content: center;
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 12%,
    rgba(39, 108, 111, 1) 66%,
    rgba(0, 212, 255, 1) 97%
  );
  overflow: hidden;
  animation: appear 1.6s ease;
}

.text {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  color: var(--white-color);
  text-shadow: 3px 3px 5px rgba(64, 169, 148, 1);
  animation: scaling 2s linear 1;
}

.icon {
  width: 42px;
  height: 42px;
  fill: rgb(190, 190, 190);
  animation: scalingIcon 4s linear infinite;
}

@media screen and (min-width: 375px) {
  .text {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    row-gap: 26px;
  }

  .text {
    font-size: 28px;
  }

  .icon {
    width: 62px;
    height: 62px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    row-gap: 36px;
  }

  .text {
    font-size: 38px;
  }

  .icon {
    width: 82px;
    height: 82px;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaling {
  0% {
    transform: scale(0);
    color: var(--dark-blue);
  }

  100% {
    transform: scale(1);
    color: var(--white-color);
  }
}

@keyframes scalingIcon {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  25% {
    transform: scale(1.4);
  }
  25% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
