.link {
  font-size: 20px;
  font-weight: 600;
  border-radius: 36px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(41, 117, 98, 1);
  -moz-box-shadow: 0px 4px 5px 0px rgba(41, 117, 98, 1);
  box-shadow: 0px 4px 5px 0px rgba(41, 117, 98, 1);
  padding: 8px 18px;
  transition: var(--hover-effect);
}

@media screen and (min-width: 1200px) {
  .link {
    font-size: 24px;
  }

  .link:hover {
    box-shadow: -7px 7px 41px rgb(25, 179, 140), 7px -7px 41px rgb(41, 184, 148);
  }
}
