.btnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.addBtn {
  width: 300px;
  height: 60px;
  font-size: 24px;
  font-weight: 600;
  background-color: var(--primary-color);
  outline: none;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  -webkit-box-shadow: -1px 3px 20px 3px rgba(49, 120, 158, 1);
  -moz-box-shadow: -1px 3px 20px 3px rgba(49, 120, 158, 1);
  box-shadow: -1px 3px 20px 3px rgba(49, 120, 158, 1);
  transition: var(--hover-effect);
}

.addBtn:hover {
  background-color: var(--accent-color);
  color: var(--primary-color);
}
